{% block content %}
<style>
    .background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url({{ url_for ('static', filename = 'images/movie.jpg') }});
  width: 1920px;
  height: 1080px;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}


</style>
<div class="background-image"></div>
<div >
  <h1 style="color:white;
position : absolute;
  top: 5%;
  left: 25%;
  z-index: 999;
  background-color: black;
  align-items: center;">Welcome to Collaborative-Filtering Movie Recommendation System</h1>
  <h2 style="color:white;
position : absolute;
  top: 10%;
  left: 30%;
  z-index: 999;
  background-color: black;
  align-items: center;">Enter the Hollywood movie you like to get recommendations.</h2>
</div>

  <form action="{{url_for('recommend_colab')}}">
    <input type="text" name="movie" class="form-control" style="color:white; position:absolute; top:20%; left:40%; z-index:999;
     align-items: center;width: 200px;"placeholder="Movie name here">
    <br>
    <input type="submit" class="btn btn-info" style="color:white; position:absolute; top:20%; left:54%; z-index:999;
     align-items: center; color: black; width: 80px;"value="Enter">

  </form>
{% endblock %}
