{% extends "base.html" %}
{% block content %}
<style>
.myDiv1{
 position: fixed;
  z-index: 9999;
   top: 10%;
  left: 20%;
}

</style>


{% if session['logged_in'] %}


<h1 style="color:red;position : absolute;top: 1%;left: 25%;z-index: 999;align-items: center;background-color: black;">
  You're logged in already Please go back and logout!</h1>
{% else %}
<div class="myDiv1">
<h2>Login</h2>
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
  {% endif %}
</div>

{% endblock %}