{% block content %}
<style>
    .background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url({{ url_for ('static', filename = 'images/movie.jpg') }});
  width: 1920px;
  height: 1080px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(3px);
}
.myDiv1 {
  position : absolute;
  top: 20%;
  left: 10%;
  z-index: 999;
   background-color: grey;
	color: black;
}
.myDiv2 {
  position : absolute;
  top: 20%;
  left: 10%;
  z-index: 999;
   background-color: grey;
	color: black;
}
</style>
 <div class="background-image"></div>
  {% if t=='s' %}
  <div >
    <h2 style="color:rgb(0, 102, 255);position : absolute;top: 10%;left: 30%;z-index: 999; background-color: black;">
        Sorry! This movie is not in our database.</h2>
    <h2 style="color:rgb(0, 102, 255);position : absolute;top: 15%;left: 30%;z-index: 999; background-color: black;">
        Please check if you spelled it correct.</h2>
    <h2 style="color:rgb(0, 102, 255);position : absolute;top: 20%;left: 30%;z-index: 999; background-color: black;">
        Or try with another movie.</h2>
  </div>

  {% else %}
    <h1 style="color:white; position:absolute; top:3%; left:10%; z-index:999;align-items: center;">
      "{{movie}}" is a great choice.</h1>
    <h2 style="color:white; position:absolute; top:10%; left:10%; z-index:999;align-items: center;">
      Similar Recommendations are:</h2>
    <div class="myDiv1">
    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item"><strong><h2>{{m|capitalize}}</h2></strong></li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}

{% endblock %}
